/* ogólne ------------------ */
* {margin:0px; padding: 0px;}
body {
  font-family: 'Old Standard TT', serif;
  line-height:1.6;
  background: #fff;
}
#wrapper {
  width:90%;
  overflow:hidden;
  display:flex;
  align-content:center;
  height:100%;
  top: 10%;
}
a {color: #354458;}

/* logo ------------
#header { height:100px;   background: #354458; margin: 0 0 10px 0; }
#header h1 {padding: 20px; color: #E9E0D6;} */

/* tresc ------------ */


#content {
  width:40%;
  background: #eee;
  float:left;
  padding:2.5%;
  overflow:hidden;
  align-self: center;
}


  /* menu ------------ */
  #menu {
    background: #eee;
    width:50%;
    float:right;
    padding:2.5%;
    overflow:hidden;
    align-self: center;


  }
/*
#menu h5 {padding:3px 3px 15px 3px; font-size:14px;}
#menu ul li {list-style-type:none; padding:0 0 0 10px;}*/

@media only screen and (max-width: 900px) {

  #wrapper {
    width:100%;
    overflow:hidden;
    margin: 0 auto;
    flex-direction:column;
    display:flex;
    height:auto;

  }
   #menu {width:88%; order: 1; height:auto; overflow:hidden;}

   #content {width: 88%; order: 2 ;}
}



.mySlides {
    display: none;
    filter:  brightness(99%);
      vertical-align: middle;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left:0;
    width:50%;
    margin-top: 0px;
    padding-top: 33%;
    padding-right: 50%;
    color:#eee;
    opacity: 100%

}
.next {
  cursor: pointer;
  position: fixed;
  top: 0%;
  bottom: 0%;
  width: auto;
  opacity: 100%
  margin-top: 0px;
  padding-top: 33%;
  padding-left: 50%;
color:#eee;
opacity: 100%

}
/* Position the "next button" to the right */
.next {
  right: 0%;
  border-radius: 3px 0 0 3px;

}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.numbertext {
  color: #aaa;
  font-size: 12px;
  padding: 0px;
  position: absolute;
  bottom:: 0%;
  right: 0;
  text-align: center;
}

.text{


  line-height: 1.5em;
  font-size: 12px;
  color: #FFF;

}
